.menu-btn {
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid transparent;
    background-color: #ffffff;
    font-size: 1.7rem;
    color: #565c88;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.menu-btn:hover {
    border: 2px solid #ffffff;
    background-color: #5e6491;
    font-size: 1.8rem;
    color: #ffffff;
    transform: scale(1.05);
    transition: 0.4s;
}

.menu-btn:focus {
    border: 2px solid #5e346d;
    outline: none;
}
