#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#general-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5em 0;
    padding: 0;
    border-radius: 13px;
    border: 2px solid #5e6491;
    background-color: #777EAF;
    font-size: 1.2rem;
    line-height: 0;
    letter-spacing: 0.3em;
    color: #ffffff;
}

#time {
    margin: 0;
    padding: 1em;
}

#gameboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    width: 100%;
}

#play-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    padding: 0.5em 1em;
    border-radius: 20px 20px 0 0;
    background-color: #777EAF;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 15vw;
    border-radius: 25px;
    background-color: #777eaf;
}

.column:hover{
    background-color:#5e6491;
    cursor: pointer;
}

.slot{
    margin: 0.2em 0.5em;
    padding: 1.3em;
    border-radius: 50%;
    background-color: #a1a6ca;
}

.slot.p1 {
    background-color: #f7f77b;
}

.slot.p2 {
    background-color: #55e7e7;
}

.slot.p3 {
    background-color: #a055e7;
}

#divider{
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    background-color: #5e6491;
}

#gameboard #menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    font-size: 1.2rem;
    color: #0F8FAF;
}


.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 1em;
}

.player p {
    margin: 0.2em 0;
    padding: 0;
    font-size: 1.5rem;
}

#p2-time,
#p1-time,
#p3-time {
    font-size: 1.2rem;
    font-weight: 700;
}

.turn {
    border: 7px dashed #a1a6cad2;
    padding: 0.4em !important;
}

.turn p {
    margin: 0;
    padding: 0.3em 0.4em;
    border-radius: 50%;
    background-color: #a1a6cad2;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.btn {
    box-sizing: border-box;
    width: 100%;
    margin: 0.5em 0;
    border-radius: 10px; 
    border-width: 0px; 
    padding: 8px;
    font-size: 1.5rem;
    background-color: #5e6491;
    color: #f0ffff;
}

#popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 3.5em;
    padding: 0.5em 3em;
    border-radius: 15px;
    border: 2px solid #52577e;
    background-color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    animation: bounce 1.5s;
    z-index: 1;
}

#popup p {
    margin: 0.5em 0;
    padding: 0;
}

#popup p:nth-child(2) {
    font-size: 1.5rem;
    letter-spacing: 0.2em;
}

#reset {
    margin-top: 1em;
    padding: 0.3em 1em;
    border: none;
    border-radius: 8px;
    border: 2px solid #5e6491;
    background-color: #5e6491;
    font-size: 1.1rem;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
}

#reset:hover,
#reset:focus {
    outline: none;
    border: 2px solid #5e6491;
    background-color: #f1f1f1;
    color: #5e6491;
    transition: 0.3s;
}

#save {
    align-self: flex-end;
    margin: 0.5em 1em;
    padding: 0.2em;
    border-radius: 10px;
    border: none;
    border: 2px solid #f1f1f1;
    background-color: #52577e;
    color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
}

#save:hover,
#save:focus {
    outline: none;
    border: 2px solid #52577e;
    background: #f1f1f1;
    color: #52577e;
    transition: 0.3s;
}

.switch-p1 {
    transform: rotateY(180deg);
    transition: 0.3s;
}

.switch-p2 {
    transform: rotateY(360deg);
    transition: 0.3s;
}

.switch-p3 {
    transform: rotateY(0deg);
    transition: 0.3s;
}

.blur {
    filter: blur(2px);
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-115px);
    }
    60% {
        opacity: 1;
        transform: translateY(10px);
    }
    80% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 600px) {
    #menu {
        flex-direction: column;
    }

    #game {
        width: 100vw;
    }

    .column.three {
        max-width: 10vw;
    }

    .slot {  
        padding: 4vw;
    }

    .turn {
        padding: 0.1em !important;
    }

    .turn p {
        margin: 0.2em;
        padding: 0.2em;
        font-size: 1rem;
    }

    .player p {
        font-size: 1.2rem;
    }
}