body {
    background-color: #A1A6CA;
    font-family: 'Balsamiq Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    background: url(./assets/Confetti-Doodles.svg) center;
}

h1 {
    flex-grow: 1;
    font-family: 'Fredoka One', sans-serif;
    font-size: 4rem;
    letter-spacing: 1.2rem;
    text-align: center;
    text-shadow:    6px 6px        #f1f1f1, 
                    5.75px 5.75px  #f1f1f1, 
                    5.5px 5.5px    #f1f1f1, 
                    5.25px 5.25px  #f1f1f1,
                    5px 5px        #f1f1f1, 
                    4.75px 4.75px  #f1f1f1, 
                    4.5px 4.5px    #f1f1f1, 
                    4.25px 4.25px  #f1f1f1,
                    4px 4px        #f1f1f1,
                    3.75px 3.75px  #f1f1f1,
                    3.5px 3.5px    #f1f1f1,
                    3.25px 3.25px  #f1f1f1,
                    3px 3px        #f1f1f1;
color: #5e6491;
}

.hidden {
    display: none !important;
}

.disabled {
    color: #b8b8b8 !important;
    pointer-events: none;
}

.error {
    background-color: #b85e5e !important;
}


